<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  </head>
  <body>
    <div id="appContainer"></div>
    <script type="application/json" id="appData"><%- data %></script>
    <script type="text/javascript" src="/js/bundle.js"></script>
  </body>
</html>
